#img-soldier76,#img-bigdaddyjeff,#img-ana,
#img-hanzo,#img-junk,#img-lucio,#img-mcree,
#img-rein,#img-widow,#img-zen,#img-tracer,#img-winston {
    height: 250px;
    padding: 10px;
    text-align: center;
}
